<%- include('../includes/head.ejs') %>

<!-- Header Section -->
<section>
    <div class="form-box">
        <!-- Display the page title -->
        <h1><%=pageTitle%></h1>
        <div class="form-content">
            <!-- Forgot Password Form -->
            <form action="/forgotPassword" method="post">
                <!-- Display error message if it exists -->
                <% if(errorMessage) {%>
                    <div style="padding-top: 40px;">
                        <h5><%=errorMessage %></h5>
                    </div>
                <% } %>

                <!-- Input field for Email-ID -->
                <div class="input">
                    <ion-icon name="mail-outline"></ion-icon>
                    <label for="text" class="text">Email-ID</label>
                    <input name="email" type="text" id="text" required>
                </div>

                <!-- Submit button -->
                <div class="but">
                    <button class="btn">Send Link</button>
                </div>
                
                <!-- CSRF token for security -->
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            </form>
        </div>
    </div>
</section>

<%- include('../includes/end.ejs') %>
