<%- include('../includes/head.ejs') %>

<!-- Header Section -->
<section>
    <!-- Form Box Container -->
    <div class="form-box">
        <!-- Display the page title -->
        <h1><%=pageTitle%></h1>
        <div class="form-content">
            <!-- Password Reset Form -->
            <form action="/reset" method="post">
                <!-- Display error message if it exists -->
                <% if(errorMessage) {%>
                    <div style="padding-top: 40px;">
                        <h5><%=errorMessage %></h5>
                    </div>
                <% } %>
                
                <!-- Input field for Password -->
                <div class="input">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <label for="" class="text">Password</label>
                    <!-- Input for entering the new password -->
                    <input name="password" type="password" required>
                </div>
                
                <!-- Input field for Confirm Password -->
                <div class="input">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <label for="" class="text">Confirm Password</label>
                    <!-- Input for confirming the new password -->
                    <input name="confirmPassword" type="password" required>
                </div>
                
                <!-- Reset Button -->
                <div class="but">
                    <button class="btn">Reset</button>
                </div>

                <!-- CSRF token for security -->
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                
                <!-- Hidden inputs for the reset token and user ID -->
                <input type="hidden" name="token" value="<%= token %>">
                <input type="hidden" name="id" value="<%= id %>">
            </form>
        </div>
    </div>
</section>

<%- include('../includes/end.ejs') %>
